version: "3.9"

services:

  backend:
    build: ./
    command: bash -c "uvicorn main:app --host=0.0.0.0 --port 8000 --reload --log-level=info"
    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    env_file:
      - ./.env


volumes:
  pgdata:
