version: "3.9"

services:
  backend:
    build: ./
    restart: always
    command: bash -c "uvicorn main:app --host=0.0.0.0 --port 8000 --reload --log-level=info"
    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
    depends_on:
      - db
#    environment:
##      APP_URL: ${APP_URL}
#      S3_ACCESS: ${S3_ACCESS}
#      S3_SECRET: ${S3_SECRET}
#      IOS_MD5: ${IOS_MD5}
#      TG_TOKEN: ${TG_TOKEN_DEV}
#      CHEQUES_TOKEN: ${CHEQUES_TOKEN}
#      ACCOUNT_INTERVAL: ${ACCOUNT_INTERVAL}
#      POSTGRES_USER: ${POSTGRES_USER_DEV}
#      POSTGRES_PASS: ${POSTGRES_PASS_DEV}
#    networks:
#      - nginx-proxy

  db:
    image: postgres:14.2
    restart: always
#    ports:
#      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: reksoft
#    networks:
#      - nginx-proxy


volumes:
  pgdata:

#networks:
#  nginx-proxy:
